pip install bs4 tqdm
pip install langchain 
pip install langchain_ollama
pip install spacy
pip install networkx
pymorphy3
fuzzywuzzy
transformers
torch
langchain_chroma
pip install -U langchain-community


# python -m spacy download ru_core_news_md
python -m spacy download ru_core_news_sm
python -m spacy validate